/**
 * Meet The Team
 */

.page-template-page-meet-our-team .single-blog-row{
max-width: 1248px;
}
.grid-team-member {
width: calc( (100% - 112px) / 3 );
float: left;
margin-right: 56px;
margin-bottom: 64px;
}
.grid-team-member:nth-child(3n) {
margin-right: 0;
}
.grid-team-member a {
color: #083FDE;
}
.grid-team-photo { 
margin-bottom: 16px;
}
.grid-meta-content h3 span{
font-size: 14px;
margin-left: 8px;
}
.grid-meta-content h3 {
margin-bottom: 4px;
}
.partner-text, .grid-phone {
color: #575F75;
font-size: 14px;
line-height: 24px;
} 

/**
  * Single Meat 
  */
.single-team-row {
max-width: 1248px;
width: 100%;
margin: 0 auto;
}
.single-team-content-row {
  width: 41.4666%;
  margin: 0 auto;
  margin-left: 52.7%;
}
.single-meet_our_teams .thepilatesroom-breadcrumbs,
.single-meet_our_teams .single-blog-caption {
  text-align: left;
}
.single-team-left {
width: 33.33333%;
float: left;
position: relative;
margin-left: 9%;
}
.single-team-left img {
position: absolute;
width: 100%;
left: 0;
top: 0;
}
.single-team-right {
width: 41.4666%;
float: left;
margin-left: 10.4%;
color: #fff;
}
.single-team-right a, .single-team-right h1 {
  color: #fff;
}
.single-team-right .caption-title p:last-child {
  margin-bottom: 0;
}
.single-team-right h1 .team-position {
  font-size: 24px;
}
/**
  * Meet The Team Gutenberg 
  */
.meet-the-team-gutenberg {
margin: 56px -170px;
}

.meet-the-team-gutenberg .grid-team-member {
    width: calc( (100% - 48px) / 3 );
    margin-right: 24px;
    margin-bottom: 28px;
    /* for inside */
    display: grid;
    grid-template-columns: 90px 1fr;
    grid-column-gap: 24px;
}
.meet-the-team-gutenberg .grid-team-member:nth-child(3n) {
   margin-right: 0;
}

.meet-the-team-gutenberg  .grid-team-member h3 {
font-size: 20px;
line-height: 20px;
}

.meet-the-team-gutenberg  .grid-team-member .team-position{
font-size: 12px;
line-height: 18px;
overflow: hidden;
display: inline-block;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}
/**
 *  Single Job
 */
 .thepilatesroom-single-job {
    padding: 24.5px 40.5px;
    border: 1px solid #E2E4E9;
    background-color: #FFFFFF;
    box-shadow: 0 8px 28px 0 #E6F2FF;
    border-left: 4px solid #E600BD; 
}
.job-title {
    color: #083FDE;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 32px;
    margin-bottom: 4px;
    display: block;
}
.job-tags {
    color: #575F75;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 24px;
    margin-bottom: 8px;
    display: block;
}
.job-excerpt {
    color: #575F75;
    font-family: "Neue Montreal";
    font-size: 16px;
    letter-spacing: 0;
    line-height: 28px;  
    margin-bottom: 16px;
    display: block;
}

/**
  * Contact Box 
  */

.thepilatesroom-contact-box {
    display: grid;
    grid-template-columns: 90px 180px;
    grid-column-gap: 0;
    margin: 0 auto; 
    border: 1px solid #E2E4E9;
    background-color: #FFFFFF;
    box-shadow: 0 8px 28px 0 #E6F2FF;
    width: 270px;    
}
.contact-box-title {
  color: #083FDE;
  font-family: 'Gilroy';
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 30px;
}
.contact-box-right {
  color: #575F75;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
  padding: 12.5px 24px;
}