
/**
* Table Of Contents
* -----------------
* 1.0 Normalize
* 2.0 Reset
* 3.0 Base Styles
* * * 3.1 Header Styles
* 4.0 Homepage
* - Responsive
* 
*/

.clearfix:after, 
.nav:after,
.media:after
{
  content: "";
  display: table;
  clear: both; 
}

/**
 * 1.0 - Normalize
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background: transparent; 
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; 
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }


input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent !important;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
*:focus {
  outline: none;
}
/**
 * 2.0 - Reset
 */
body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
table, th, td, caption,
hr {
  margin: 0;
  padding: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

abbr[title],
dfn[title] {
  cursor: help; }

u,
ins {
  text-decoration: none; }

ins {
  border-bottom: 1px solid; }

embed {
  max-width: 100%; }

ul, ol {
  list-style-position: inside;
}
a[href^=tel] {
  text-decoration:inherit;
  color: inherit;
}
/**
 * 3.0 - Base Styles
 */
:root {
  --titleFonts: "Helvetica Neue", -apple-system,BlinkMacSystemFont,Roboto,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --buttonBG: #101010;
  --buttonHBG: #101010;
  --buttonColor: #ffffff;
}
body { 
  font-family: 'Lora', serif; 
  font-size: 16px; 
  font-weight: 400; 
  line-height: 30px; 
  letter-spacing: 0; 
  color: #000000;
   text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; -webkit-text-size-adjust: 100%; word-wrap: break-word; overflow-wrap: break-word; overflow-x: hidden; 
}
h1, h2, h3, h4, h5, h6 { font-family: "Helvetica Neue", -apple-system,BlinkMacSystemFont,Roboto,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; font-weight: bold; letter-spacing: 0; line-height: 1.5; color:#000000; margin-bottom: 24px; }
h1 { font-size: 48px; line-height: 60px; }
h2 { font-size: 39px; line-height: 60px; } 
h3 { font-size: 31px; line-height: 60px; }
h4 { font-size: 25px; line-height: 30px; }
h5 { font-size: 20px; line-height: 30px; }
h6 { font-size: 16px; line-height: 30px; }
p {
  margin-bottom: 24px;
  min-height: 1px;
}
a {
  color: #000000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;  
}
a:hover {
  color: #000000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.theme-row { 
  width: 100%;
  max-width: 1164px;
  padding: 56px 12px 80px;
  margin: 0 auto;
}
.theme-row-zero {
  width: 100%;
  max-width: 1164px;
  margin: 0 auto;
}
.caption.theme-row{
  padding: 155px 12px 0;
}
.caption.theme-row h1 {
  margin-bottom: 18px;
}
.narrow-text {
  max-width: 572px;
  margin: 0 auto;
}
.thepilatesroom-button {
  background-color: var(--buttonBG);
  display: inline-block;
  color: var(--buttonColor);
  font-family: var(--titleFonts);
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 19px;  
  padding: 13px 24px 16px 24px;
  border-radius: 4px;
}
.thepilatesroom-button:hover { background-color:  var(--buttonHBG); color: var(--buttonColor); }
.thepilatesroom-button:active, .thepilatesroom-button:focus { background-color: var(--buttonBG);}
.thepilatesroom-content {
  margin-top: -40px;
}

.site-lightbox {
position: fixed;
top: 0;
width: 100%;
height: 100%;
background: rgba(11,12,15,0.8);
visibility: hidden;
opacity: 0;
-webkit-transition: all 0.4s;
transition: all 0.4s;
z-index: 10000;
}
.logged-in .site-lightbox {
top: 32px;
height: calc(100% - 32px);
}
.site-lightbox.opened-video-box {
visibility: visible;
opacity: 1;
}
.site-lightbox-top {
border-bottom: 1px solid rgba(255,255,255,0.5);
height: 56px;
padding-left: 24px; 
font-size: 20px;
font-weight: 700;
line-height: 56px; 
color: #fff;
}
.site-light-box-close {
line-height: 0;
cursor: pointer;
position: absolute;
top: 0;
right: 0;
width: 56px;
height: 56px;
padding: 15px 20px 20px 20px;
z-index: 1000;
border-left: 1px solid rgba(255,255,255,0.5);
}
.site-lightbox-frame {
width: 50.34%;
height: 100%;
margin: 0 auto;
}
.site-lightbox-frame iframe {
width: 100%;
height: 100%;
}
/**
  * 3.1 - Header Styles
  */
.main-header { 
    position: -webkit-sticky; /* Safari */  
    position: sticky;
    top: 60px;
    margin: 0 auto; 
    width: 100%; 
    font-family: 'Lora', sans-serif;
    font-size: 16px;	
    line-height: 30px;    
    z-index: 900;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}
.header-row { position: relative; width: 100%; max-width: 1336px; height: 40px; margin: 0 auto; display: flex; align-items: normal; padding: 0 12px; }
.main-header.sticky-anim.sticky-header { top: 0; }
.logged-in .main-header.sticky-anim.sticky-header { top: 32px; }

.site-branding { width: 199px; height: 24px; text-align: left; margin-top: 3px; -webkit-transition: all 0.4s; transition: all 0.4s; }

.disable-eventers > a { 
  pointer-events: none;
  padding-bottom: 10px !important;
  color: #919AAB !important;
  display: inline-block;
}
.main-navigation { width: calc(100% - 379px); padding-left: 112px; margin-top: 5px; }
.main-navigation ul { margin: 0; padding: 0; list-style: none; text-align: left; }
.main-navigation ul li { display: inline-block; margin: 0 18px 0 0; }
.main-navigation ul li a {
display: inline-block;
color: #000000;	
height: 100%;
-webkit-transition: all 0.4s ease;
transition: all 0.4s ease;
}

.main-navigation ul li.current-menu-item > a, .main-navigation ul li a:hover {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}


.main-navigation > div > ul > li {
  display: inline-block;
  height: 100%;
}
/* dropdown */
@media(min-width: 1249px) {

    .main-navigation ul li {
    position: relative;
    }
    .menu-item-has-children > .sub-menu {
    position: absolute;
    top: 87px;
    left:0;
    z-index: 200;
    text-align: left;
    white-space: nowrap;
    background: #052A94;
    padding: 7px 18px 8px 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    }
    .sticky-header .menu-item-has-children > .sub-menu {
      top: 65px;
    }
    .sub-menu:before {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 12px solid #052A94;
    border-right: 12px solid transparent;
    position: absolute;
    top: -12px;
    z-index:205;
    }
    .menu-item-has-children .sub-menu li {
    display: block;
    height: 48px;
    }
    .menu-item-has-children .sub-menu li a {
    padding-top: 0;
    height: 48px;
    line-height: 48px;
    display: block;
    color: #fff;
    }
    
    .menu-item-has-children:hover > .sub-menu {
    visibility: visible;
    opacity: 1;
    }
    
}
.mobile-menu-icon {
  display: none;
  width: calc( 100% - 161px);
  text-align: right;  
}
.mobile-menu-icon .icoline {
  height: 3px;
  width: 100%;
  background: #052A94;
}
.mobile-menu-icon .icoline:nth-child(2) {
  height: 3px;
  width: 100%;
  background: #052A94;
  margin: 5px 0;
}
.mobile-menu-container {
position: fixed; 
top: 0; 
right: 0;
width: 100%;
height: 100vh;
visibility: hidden;
opacity: 0;
-webkit-transition: all 0.4s ease;
transition: all 0.4s ease;
background:rgba(11,12,15,0.8);
}
.mobile-menu-row {
  position: absolute;
  top: 0;
  right: 0;
  background: #052A94;
  width: 296px;
  height: 100vh;
  padding: 81px 24px 24px 24px;
  -webkit-transform: translate3d(296px, 0, 0);
  transform: translate3d(296px, 0, 0);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;  
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  overflow-y: scroll;
}
.mobile-menu-container.opened-mobile-menu .mobile-menu-row{
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);  
}
.mobile-overlay {
  width: calc( 100% - 296px );
  height: 100vh;
  background:rgba(11,12,15,0.8);
  position: absolute;
  left: 0;
  top: 0;
}
.mobile-menu-container.opened-mobile-menu {
  visibility: visible;
  opacity: 1;
  z-index: 10000;
  left: 0;
}
.mobile-search {
position: relative;
margin-bottom: 8px;
}
.mobile-search input {
height: 36px;
background-color: #F4F6F8;
border-radius: 6px;
border: 0;
width: 100%;
padding-left: 50px
}
.mobile-search .form-search-icon {
top: 10px;
}
.mobile-menu-container .mobile-header-button-col {
margin-bottom: 24px;
width: 100%;
text-align : left;
}
.mobile-menu-container .header-button-style {
width: calc( (100% - 11px) / 2);
}
.mobile-menu-container .header-button-style:nth-child(2) {
margin-right: 0; 
}
.mobile-menu-nav {
padding-left: 24px;
}
.mobile-menu-nav .menu-main-menu-container ul {
list-style-type: none;
color: #0F1126;	
font-size: 12px;	
line-height: 24px;
}
.mobile-menu-nav .menu-main-menu-container ul li {
position: relative;
margin-bottom: 16px
}
.mobile-menu-nav .menu-main-menu-container ul li a {
color: #ffffff;	
font-family: 'Gilroy', serif;
font-size: 16px;
font-weight: 500;
letter-spacing: 0;
line-height: 28px;
}
.mobile-menu-nav .menu-main-menu-container ul li.current-menu-ancestor > a,
.mobile-menu-nav .menu-main-menu-container ul li.current-menu-item > a {
color: #E600BD !important;
}
.mobile-menu-nav .menu-main-menu-container ul li.current-menu-ancestor > a:after,
.mobile-menu-nav .menu-main-menu-container ul li.current-menu-item > a:after {
color: #E600BD !important;
width: 3px;
height: 3px;
background-color: #E600BD;
content: "";
display: inline-block;
margin-left: 2px;
}
.mobile-menu-nav > div > ul > li.mega_one > .sub-menu > li > a, .mobile-menu-nav > div > ul > li.mega_two > .sub-menu > li > a {
display: none;
}
.mobile-menu-nav > div > ul > li > .sub-menu {
display: none;
padding-left: 19px;
margin-top: 16px;
}
.mobile-menu-nav .menu-main-menu-container .disable-eventers > .sub-menu li {
margin-bottom: 2px;
}
.mobile-menu-nav .menu-main-menu-container .disable-eventers > .sub-menu li a {
font-size: 15px;
line-height: 20px;
color: #636E81;
}
.mobile-menu-nav .menu-main-menu-container .disable-eventers > a {
color: #919AAB;	
font-size: 10px;	
letter-spacing: 1px;	
line-height: 12px;
padding-bottom: 0 !important;
}

.mobile-menu-nav .thepilatesroom-ajax-search {
display: none; 
}
.mobile-menu-nav > div > ul > li.menu-item-has-children.mobile-dropdown > a {
  color: #E600BD;
}
.mobile-menu-nav > div > ul > li.menu-item-has-children:before {
content: "";
width: 0;
height: 0;
border-left: 5px solid transparent;
border-right: 5px solid transparent;  
border-top: 5px solid #ffffff;
position: absolute;
top: 10px;
left: -20px;
}
.mobile-menu-nav > div > ul > li.menu-item-has-children.mobile-dropdown:before {
border-left: 5px solid transparent;
border-right: 5px solid transparent; 
border-bottom: 5px solid #052A94; 
border-top: 0;
}


.mobile-menu-nav > div > ul > li > .sub-menu:before {
content: " ";
display: block;
width: 1px;
height: calc( 100% - 47px );
border-left: 1px solid #D8D8D8;
position: absolute;
z-index: 11;
top: 45px;
left: 0px;
opacity: 0.2;
}

.mobile-menu-closing {
width: 15px;
height: 24px;
position: absolute;
top: 30px;
right: 32px;
z-index: 12;
}


/* Header Buttons */
.header-button-col {
width: 180px;
height: 40px;
text-align: right;
color: #000;
height: 100%;
-webkit-transition: all 0.4s;
transition: all 0.4s;
}
.header-button-col a {
  font-family: var(--titleFonts);
  background: var(--buttonBG);
  color: #fff;
  padding: 6px 16px 8px 16px;
  font-size: 16px; 
  line-height: 26px;
  display: inline-block;
  border-radius: 4px; 
}
.header-button-col a:nth-child(2) {
  margin-left: 8px;
}
.mobile-menu-row .header-button-col {
position: static;
color: #fff;
text-align: left;
height: 30px;
width: 100%;
margin-top: 48px;
margin-bottom: 48px;
display: block;
}

/**
  * 4.0 - Homepage
  */

/* About Us */
.home-about {
  position: relative;
}
.hero-bg-col {
  position: absolute;
  width: 39.722222%;
  height: 100%;
  right: 0;
  top: 0;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
}
.home-about-container.theme-row {
  padding: 220px 12px 138px;
}
.hero-about-content {
  width: calc( 50% - 12px);
}
.home-about-title {
  width: 30%;
  float: left;
}
.home-about-content {
  width: 49%;
  margin: 0 10.49%;
  float: left;
  padding-top: 16px;
  position: relative;
}

img.section-icon {
  position: absolute;
  top: -115px;
  left: 0;
}
.button-desc {  
  opacity: 0.5;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 20px;
}
/* Front Services */
.home-services {
  background: #f7f8fa;
}
.home-services-row .section-description {
margin-bottom: 56px;
}
.home-services-item {
float: left;
margin-bottom: 56px;
}
.home-services-item:nth-child(3n+1) {
width: 32%;
margin-right: 10.25%;
}
.home-services-item:nth-child(3n+2) {
width: 24%;
margin-right: 10.25%;
}
.home-services-item:nth-child(3n+3) {
width: 23.5%;
}
.home-services-item .services-thumbnail img {
  width: auto;
  height: 48px;
  margin-bottom: 32px;
}
.home-services-item a {
color: #083FDE;
}
.home-services-item h3:after {
    width: 4px;
    height: 4px;
    margin-left: 4px;
    background-color: #E600BD;
    display: inline-block;
    content:"";
}
.home-services-item p {
margin-bottom: 16px;
}
.readmore-icon {
  margin-left: 7px;
}

/* Clients */

.global-clients-partners {
  background: #0D0E0E;

}
.theme-row.global-clients-row {
  padding: 67px 12px 120px;
}
.section-small-title {
  color: rgba(255,255,255,0.5);
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 41px;
}
.clients-right .section-small-title  { 
  margin-bottom: 38px;
}
.partners-left {
  width: 66.66666%;
  padding-left: 8%;
  float: left;
}

.clients-right { 
  width: 33.3333%;
  padding-left: 9.065%;
  float: left;
}

.partner-slider, .client-slider {
  display: flex;
  justify-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;  
}
.partner-slider > div, .client-slider > div {
  margin-right: 32px;
}
.partner-slider > div:last-child, .client-slider > div:last-child {
  margin-right: 0;
}

/* Benefits */
.home-benefits-container.theme-row {
  padding: 45px 12px 0;
}
.home-benefits-bg-col, .hero-benefits-content-col {
  width: 50%;
  float: left;
  padding-left: 20px;
}
.home-benefits-bg-col {
  text-align: center;
  padding-left: 0;
}
.home-benefits-bg-col img {
  margin: 0 auto;
}
.hero-benefits-content-col {
  padding-top: 68px;
}
.home-benefit {
  display: grid;
  grid-template-columns: auto auto; 
  grid-column-gap: 41px;
  margin-bottom: 10px;
}
.home-benefit:last-child {
  margin-bottom: 0;
}
.home-benefit-img {
  padding-top: 10px;
}
.home-benefit h2, .home-benefit h3, .home-benefit h4, .home-benefit h5 {
  margin-bottom: 13px;
}
/* Videos */
.home-videos {
background: #ffffff;
text-align: center;
}

.home-videos-row.theme-row {
padding: 96px 12px;
}
.home-videos-grid {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-column-gap: 24px;
grid-row-gap: 30px;
text-align: left;
padding-top: 16px;
}
/* Approach */
.home-approach {
position: relative;
background: #FAFAFB;
}
.home-approach-container.theme-row {
padding: 96px 12px;
}
.home-approach-column {
width: 42.6666%;
margin-right: 8.333%;
float: right;
}
.home-approach-main-content h1,
.home-approach-main-content h2,
.home-approach-main-content h3 {
margin-bottom: 38px;
}
.home-approach-main-content {
margin-bottom: 14px;
overflow: hidden;
}
.home-sing-approach {
display: grid;
grid-template-columns: 24px auto;
grid-column-gap: 15px;
margin-bottom: 20px;
}
.home-approach-bg-col {
width: 39.65%;
height: 100%;
position: absolute;
top: 0;
left: 0;
background-color: #ffffff;
background-repeat: no-repeat;
background-position: right center;
background-size: cover;
}
/* Testimonials Slider */
.home-testimonials {
background: #FAFAFB;
padding: 96px 0; 
text-align: center;
}

.home-testimonials-item {
text-align: left;
width: 557px;
padding: 56px 73px 52px 72px;
border-radius: 8px;
background-color: #FFFFFF;
box-shadow: 0 4px 14px 0 rgba(9,9,9,0.06), 0 2px 3px 0 rgba(9,9,9,0.06);
margin: 17px 12px 30px;
}
.home-testimonial-footer {
display: grid;
grid-template-columns: 48px auto;
grid-column-gap: 24px;
}
.testimonial-thumbnail {
height: 48px;
border-radius: 50%;
overflow: hidden;
}
.testimonial-names h3 {
font-family: "Lora";
font-size: 16px;
font-weight: bold;
letter-spacing: 0;
line-height: 16px;
margin-bottom: 0;
}
.appellation {
font-family: Lora;
font-size: 13px;
letter-spacing: 0;
line-height: 13px;
color: #000000;
opacity: 0.5;
}
.testimonial-names {
padding-top: 4px;
}
/* Outro */
.home-outro-container.theme-row {
padding: 96px 12px;
max-width: 776px;
text-align: center;
}

/**
 * 5.0 - Breadcrumbs
 */
.thepilatesroom-breadcrumbs {
font-size: 12px;	
line-height: 20px;
color: rgba(255,255,255,0.4);
margin-bottom: 40px;
text-align: center;
}

.sep { margin: 0 6px; }

.thepilatesroom-breadcrumbs a {
color: #ffffff;
-webkit-transition: all 0.3s ease;
transition: all 0.3s ease;
}
.thepilatesroom-breadcrumbs a:hover {
  color: #636E81;
  opacity: 0.7;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/*
.thepilatesroom-breadcrumbs > span > span > span > a {
pointer-events: none;
}
.single-post .thepilatesroom-breadcrumbs > span > span > span > a {
  pointer-events: auto;
}
*/

/**
 * 6.0 - Contact Form
 */


.contact-form-main input[type=text],
.contact-form-main input[type=email],
.contact-form-main input[type=tel],
.contact-form-main select,
.contact-form-main textarea {
height: 53px;
width: 100%;
border: 1px solid #C4C8D4;
border-radius: 0px;
background-color: #FFFFFF;
padding: 12px;
font-size: 16px;
}
.contact-form-main select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgba(15, 17, 38, 1)'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
  background-size: 12px;
  background-position: calc(100% - 6px) 14px;
  background-repeat: no-repeat;
  background-color: #FFFFFF;  
}
.contact-form-main input[type=text]:focus,
.contact-form-main input[type=email]:focus,
.contact-form-main input[type=tel]:focus,
.contact-form-main select:focus,
.contact-form-main textarea:focus,
.contact-form-main input[type=text]:active,
.contact-form-main input[type=email]:active,
.contact-form-main input[type=tel]:active,
.contact-form-main select:active,
.contact-form-main textarea:active {
border-width: 2px;
border-color: #156A9F;
}
.wpcf7-not-valid {
  border-color: #9E1012 !important;
  background: #FBEAE5;;

}
.wpcf7-select { padding: 0 0 0 12px !important; }
.contact-form-main textarea {
height: 107px;
}
.contact-form-main label { margin-bottom: 2px; display: block;}

.contact-form-main [type=checkbox] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0;
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

span.wpcf7-list-item, .mc4wp-checkbox { margin: 0; width: 100%; }
span.wpcf7-list-item-label, .mc4wp-checkbox label span { 
  margin: 0 0 0 16px;
  font-size: 14px;
  color: #5E6E85;
  position: relative;
  vertical-align: middle;
  height: 24px;
  display: inline-block;
}

.wpcf7-acceptance label, .wpcf7-checkbox label, .mc4wp-checkbox label { 
  width: 100%; 
  height: 24px;
  line-height: 24px;
}
.wpcf7-acceptance .wpcf7-list-item-label:before, .wpcf7-checkbox .wpcf7-list-item-label:before, .mc4wp-checkbox label span:before {
  content: "";
  position: absolute;
  top: -0;
  left: -39px;
  height: 24px;
  width: 24px;
  line-height: 24px;
  border: 2px solid #6C7693;
  pointer-events: none;
  background-size: 24px 24px;
}
 
.wpcf7-acceptance input:checked ~ .wpcf7-list-item-label:before,
.wpcf7-checkbox input:checked ~ .wpcf7-list-item-label:before,
.mc4wp-checkbox input:checked ~ span:before  {
  font-style: normal;
  color: #000;
  font-weight: 700;
  content: " ";
  font-size: 11px;
  line-height: 24px;
  text-align: center;
  border-color: #052A94;
  color: #052A94;
  border-width: 2px;
  background: url('../img/form-check.svg');
  background-size: 14px 14px;
  background-repeat: no-repeat;
  background-position: center;
}  

input[type=submit]
{
  background-color: #052A94;
  color: #FFFFFF;
  font-family: 'Gilroy';
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 28px;
  padding: 12px 36px;
  box-shadow: none;
  outline: none;
  border: 0;  
  display: inline-block;  
}

.grecaptcha-badge { 
  visibility: hidden;
}
.page-template-page-contact .grecaptcha-badge,
.page-id-312 .grecaptcha-badge {
  visibility: visible;
}

/* Contact Form Layouts */
.contact-row-button {
  position: relative;
  display: inline-block;  
}
.contact-row-button .square {
  width: 3px;
  height: 3px;
  margin-left: 4px;
  background-color: #E600BD;
  display: inline-block;
  position: absolute;
  top: 37px;
  right: 50px;  
}

.contact-row-1 {
display: grid;
grid-template-columns: 1fr 1fr;
grid-column-gap: 16px;
}
.wpcf7-form-control {
margin-top: 7px;
display: block;
margin-bottom: 16px;
}
.wpcf7-form-control.wpcf7-checkbox,
.wpcf7-form-control.wpcf7-acceptance {
margin-top: 0;
margin-bottom: 12px;
}
/* Contact Us */
.page-template-page-contact .thepilatesroom-breadcrumbs,
.page-template-page-contact .single-blog-caption {
text-align: left;
}
.page-template-page-contact .single-blog-content { padding-top: 50px; padding-bottom: 125px; }
.page-template-page-contact .single-blog-row {
max-width: 1248px;
position: relative;
}
.page-template-page-contact .single-gutenberg h4 {
font-size: 20px;
margin-bottom: 18px;
margin-top: 10px;
color: #083FDE;
}

.page-template-page-contact .single-gutenberg .tdf-mail:before {
  content: "";
  background: url("../img/small-envelope.svg") no-repeat;
  background-position: 0 14px;
  display: inline-block;
  width: 16px;
  height: 28px;
  margin-right: 17px;
}
.page-template-page-contact .single-gutenberg .tdf-phone:before {
  content: "";
  background: url("../img/phone.svg") no-repeat;
  background-position: 0 4px;
  display: inline-block;
  width: 16px;
  height: 28px;
  margin-right: 17px;
  vertical-align: middle;
}
.page-template-page-contact .single-gutenberg .contact-col-1, .page-template-page-contact .single-gutenberg .contact-col-2 {
  padding-bottom: 10px;
}
.page-template-page-contact .single-gutenberg .col-title-special { display: none; }
.contact-us-link-edin, 
.contact-us-we-chat {
color: #363B49;
display: inline-block;
margin-right: 15px;
}
.contact-us-link-edin img {
width: 21px;
} 
.contact-us-we-chat img {
width: 27px;
}
.contact-google-maps {
position: absolute;
top: -324px;
right: 0;
width: calc( 100% - 318px);
height: 939px;
background: #000;
z-index: 100; 
}
.au-ch-map {
width: 101px;
height: 44px;
background: #fff;
padding: 10px 16px;
font-size: 16px;
line-height: 24px;
position: absolute;
z-index: 1000;
top: 60px;
left: 10px;
color: #052A94;
}
.au-button {
width: 50%;
height: 100%;
padding-right: 12px;
border-right: 1px solid #052A94;
float: left;
cursor: pointer;
}
.ch-button {
width: 50%;
padding-left: 12px;
float: left;
cursor: pointer;
}
.au-button.active, .ch-button.active {
color: #E600BD;
pointer-events: none;
cursor: auto;
}
.hide-this-map { display: none; }
/**
 * 1.0 - Blog 
 */
 /* Front Blog */
.home .front-blog {
  background: #F9FAFB;
}
.blog .caption-title h1 { 
margin-bottom: 41px;;
}
.theme-row.front-blog-row { padding-bottom: 184px; }

.front-blog-row h1.section-title { text-align: center; margin-bottom: 25px; }
.grid-sizer {
  width: calc( (100% - 48px) / 3);
}
.gutter-sizer{
  width: 24px;
}
.front-blog-item { 
  width: calc( (100% - 48px) / 3);
  margin-bottom: 24px;
  background-color: #FFFFFF;
  float: left;
  position: relative;
  overflow: hidden;
  border: 1px solid #E2E4E9;
}

.front-blog-content { 
  padding: 24px 24.5px 24.5px 24.5px;
}
.front-blog-content h3 {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 4px; 
  padding-right: 0;
}
.front-blog-content h3 a { color: #083FDE; }
.front-blog-content p {
  font-size: 14px;	line-height: 24px; margin-bottom: 0; margin-left: 2px; 
}
.front-blog-meta { line-height: 1; margin: 0 0 13px 2px; }
.front-blog-content .bt_blog_time, .front-blog-cat {
	color: #989FB3;	font-size: 14px;	line-height: 24px;
}
.front-blog-item .bt_read_more { position: absolute; left: 24px; bottom: 24px; font-size: 14px; line-height: 20px; color:#006CB9; margin-left: 2px;} 
.front-blog-more { 
  color: #156A9F;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  display: block;  
}

.scroller-status {
   text-align: center;
}
.loader-ellips {
  font-size: 20px; /* change size here */
  position: relative;
  width: 4em;
  height: 1em;
  margin: 10px auto;
}

.loader-ellips__dot {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 0.5em;
  background: #555; /* change color here */
  position: absolute;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.loader-ellips__dot:nth-child(1),
.loader-ellips__dot:nth-child(2) {
  left: 0;
}
.loader-ellips__dot:nth-child(3) { left: 1.5em; }
.loader-ellips__dot:nth-child(4) { left: 3em; }

@keyframes reveal {
  from { transform: scale(0.001); }
  to { transform: scale(1); }
}

@keyframes slide {
  to { transform: translateX(1.5em) }
}

.loader-ellips__dot:nth-child(1) {
  animation-name: reveal;
}

.loader-ellips__dot:nth-child(2),
.loader-ellips__dot:nth-child(3) {
  animation-name: slide;
}

.loader-ellips__dot:nth-child(4) {
  animation-name: reveal;
  animation-direction: reverse;
}
/* Pagination */
.blog-pagination { display: none; }
.main-blog { 
  padding-top: 32px; 
  padding-bottom: 60px;
}
.main-blog-caption {
  width: 100%;
  margin: 0 auto;
}
.blog .theme-row.front-blog-row, .archive .theme-row.front-blog-row {
padding-top: 0;
}
.thepilatesroom-category-filter {
list-style-type: none;
margin-left: 12px;
margin-bottom: 24px;
text-transform: uppercase;
}

.thepilatesroom-category-filter li {
display: inline-block;
margin-right: 16px;
color: #0F1126;
font-family: 'Stolzl';
font-size: 12px;
line-height: 24px;
border-bottom: 2px solid transparent;
-webkit-transition: all 0.4s ease;
transition: all 0.4s ease;
}
.thepilatesroom-category-filter li a {
color: #0F1126;
-webkit-transition: all 0.4s ease;
transition: all 0.4s ease;
}
.blog .thepilatesroom-category-filter li.cat-item-all, .thepilatesroom-category-filter li.current-cat, .thepilatesroom-category-filter li:hover {
border-bottom: 2px solid #00D9B3;
-webkit-transition: all 0.4s ease;
transition: all 0.4s ease;
}
.blog .thepilatesroom-category-filter li.cat-item-all a, .thepilatesroom-category-filter li.current-cat a, .thepilatesroom-category-filter li:hover a  {
color: #00D9B3;
-webkit-transition: all 0.4s ease;
transition: all 0.4s ease;
}

.page-numbers {
list-style-type: none;
text-align: center;
}
.page-numbers li {
display: inline-block;
margin: 0 4px;
font-size: 14px;
}
.page-numbers li .page-numbers{
display: inline-block;
height: 24px;
width: 24px;
border: 1px solid #C4C8D5;
border-radius: 3px;
background: linear-gradient(180deg, #FFFFFF 0%, #F9FAFB 100%);
box-shadow: 0 1px 0 0 rgba(22,29,37,0.05);
color: #006BA9;
}

.page-numbers li .page-numbers.current {
border: 1px solid #2B526B;
background: linear-gradient(180deg, #207CB5 0%, #156A9F 49.82%, #156A9F 100%);
box-shadow: inset 0 1px 0 1px rgba(255,255,255,0.06), 0 1px 0 0 rgba(40,64,79,0.25);
color: #fff;
}

/* Single */
.single-wechat-icon { width: 23px; }
.single-post .single-blog {
  padding-top: 33px;
}
.single-post .bt_blog_time {
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;  
  color: #989FB3;  
}
.single-post .main-blog-caption h1 {
  margin-bottom: 8px;
}
.single-post .bt_blog_thumbnail {
  margin-bottom: 50px;
}
.single-post .single-blog-content {
  padding-top: 28px;
}
blockquote {
  border-top: 1px solid #D9DFF2;
  border-bottom: 1px solid #D9DFF2; 
  padding: 28px 5px 4px 53px;
  margin-bottom: 24px;
  position: relative;
}
blockquote:before {
  width: 39px;
  height: 32px;
  display: block;
  content: ' ';
  background-image: url('../img/single-blog-quote.svg');
  background-size: 39px 32px;
  position: absolute;
  top: 28px;
  left: 0;
  z-index: 11;
}
.single-blog-caption {
background-color: #083FDE;
padding: 52px 0 72px;
text-align: center;
}
.single-blog-row {
max-width: 612px;
margin: 0 auto;
}
.single-blog-row.wide-row {
  max-width: 1248px;
}
.single-post .caption-title {
  max-width: none;
}
.single-blog-caption .caption-title h1 {
color: #fff;
}

.single-blog-content {
padding: 60px 0 100px;
}
.single-blog-row .front-blog-meta, .single-blog-row .front-blog-cat{
font-size: 14px;
line-height: 20px;
}
.single-blog-row iframe{
width: 100%;
}
.single-gutenberg ul {
  margin-bottom: 24px;
  margin-left: 10px;
}
.single-gutenberg ul li {
  margin-bottom: 16px;
  list-style: none;
  position: relative;
  padding-left: 20px;
}
.single-gutenberg ul li:before {
    content:"·";
    font-size: 30px;
    line-height: 30px;
    color: #2B2F3B;
    vertical-align: bottom;
    position: absolute;
    top: -2px;
    left: 0;
}
.single-gutenberg ol {
  list-style-position: outside;
  margin-left: 24px;
}
.single-gutenberg ol li {
  padding-left: 20px;
  padding: 0 0 16px 12px;
  
}
/**
 * Meet The Team
 */

.page-template-page-meet-our-team .single-blog-row{
max-width: 964px;
}
.grid-team-member {
width: calc( (100% - 112px) / 3 );
float: left;
margin-right: 56px;
margin-bottom: 64px;
}
.grid-team-member:nth-child(3n) {
margin-right: 0;
}
.grid-team-member a {
color: #083FDE;
}
.grid-team-photo { 
margin-bottom: 16px;
}
.grid-meta-content h3 span{
font-size: 14px;
margin-left: 8px;
}
.grid-meta-content h3 {
margin-bottom: 4px;
}
.partner-text, .grid-phone {
color: #2B2F3B;
font-size: 14px;
line-height: 24px;
} 


/* Single Meat */
.single-team-row {
max-width: 1248px;
width: 100%;
margin: 0 auto;
}
.single-team-content-row {
  width: 41.4666%;
  margin: 0 auto;
  margin-left: 52.7%;
}
.single-meet_our_teams .thepilatesroom-breadcrumbs,
.single-meet_our_teams .single-blog-caption {
  text-align: left;
}
.single-meet_our_teams .single-blog-caption {
  padding-bottom: 56px;
}
.single-team-left {
width: 33.33333%;
float: left;
position: relative;
margin-left: 9%;
}
.single-team-left img {
position: absolute;
width: 100%;
left: 0;
top: 0;
}
.single-team-right {
width: 41.4666%;
float: left;
margin-left: 10.4%;
color: #fff;
}
.single-team-right a, .single-team-right h1 {
  color: #fff;
}
.single-team-right a:hover {
  opacity: 0.5;
}
.single-team-right h1 {
  margin-bottom: 2px;
}
.single-team-right .caption-title p:last-child {
  margin-bottom: 0;
}
.single-team-right h1 .team-position {
  font-size: 24px;
  font-weight: 500;
}
.single-team-right p {
  margin-bottom: 0;
}
.team-linkedin img { width: 21px; opacity: 0.5;}
.single-meet_our_teams .single-blog-content { padding-top: 55px; }
/* Meet The Team Gutenberg */
.meet-the-team-gutenberg {
margin: 56px -170px 8px;
}

.meet-the-team-gutenberg .grid-team-member {
    width: calc( (100% - 48px) / 3 );
    margin-right: 24px;
    margin-bottom: 28px;
    /* for inside */
    display: grid;
    grid-template-columns: 90px 1fr;
    grid-column-gap: 24px;
}
.meet-the-team-gutenberg .grid-team-member:nth-child(3n) {
   margin-right: 0;
}

.meet-the-team-gutenberg .grid-team-member h4 {
font-size: 20px;
line-height: 20px;
}

.meet-the-team-gutenberg  .grid-team-member .team-position{
font-size: 12px;
line-height: 18px;
overflow: hidden;
display: inline-block;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}

/**
 *  Single Job
 */
.thepilatesroom-single-job {
padding: 24.5px 40.5px;
border: 1px solid #E2E4E9;
background-color: #FFFFFF;
box-shadow: 0 8px 28px 0 #E6F2FF;
border-left: 4px solid #E600BD; 
margin-bottom: 16px;
}
.job-title {
color: #083FDE;
font-size: 18px;
font-weight: bold;
letter-spacing: 0;
line-height: 32px;
margin-bottom: 4px;
display: block;
}
.job-tags {
color: #2B2F3B;
font-size: 14px;
letter-spacing: 0;
line-height: 24px;
margin-bottom: 8px;
display: block;
}
.job-excerpt {
color: #2B2F3B;
font-family: "Neue Montreal";
font-size: 16px;
letter-spacing: 0;
line-height: 28px;  
margin-bottom: 16px;
display: block;
}

/**
  * Contact Box 
  */

.thepilatesroom-contact-box {
    display: grid;
    grid-template-columns: 90px 230px;
    grid-column-gap: 0;
    margin: 0 auto; 
    border: 1px solid #E2E4E9;
    background-color: #FFFFFF;
    box-shadow: 0 8px 28px 0 #E6F2FF;
    width: 310px;    
}
.contact-box-title {
  color: #083FDE;
  font-family: 'Gilroy';
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 30px;
}
.contact-box-right {
  color: #2B2F3B;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
  padding: 12.5px 24px;
}
/** 
 * Archive Video Library
 */
.all-video-posts {
display: grid;
grid-template-columns:  repeat(3, 1fr);
grid-column-gap: 24px;
grid-row-gap: 30px;
}
.video-preview-image {
border-radius: 4px;
overflow: hidden;
position: relative;
cursor: pointer;
margin-bottom: 24px;
}
.single-play-icon {
position: absolute;
top:0 ;
left: 0;
width: 100%;
height: 100%;
text-align: center;
display: flex;
align-content: center;
align-items: center;
justify-content: center;
}
.video-grid-item h3 {
color: #000000;
font-size: 20px;
letter-spacing: 0;
line-height: 30px;
}
.video-library-filter {
width: 267px;
height: 48px;
margin-bottom: 30px;
}
.video-library-load-more, .principles-load-more, .events-load-more, .knowledge-load-more{
height: 40px;
width: 115px;
border-radius: 4px;
background-color: #101010;
color: #fff;
margin: 0 auto;
font-size: 16px;
font-weight: bold;
font-family: var(--titleFonts);
line-height: 40px;
text-align: center;
cursor: pointer;
}
/* Select 2 */
.thepilatesroom-helper .select2-container--default .select2-selection--single {
color: rgba(20,20,21,0.5);
border: 2px solid transparent;
height: 48px;
border: 1px solid #C2C4C9 !important;
border-radius: 4px;
}
.thepilatesroom-helper .select2-container .select2-container--focus .select2-selection--single {
border: 2px solid #AFC1E2
}

.thepilatesroom-helper .select2-container .select2-selection--single {
color: rgba(20,20,21,0.5);
border: 2px solid transparent;
height: 48px;
border: 1px solid #C2C4C9 !important;
border-radius: 4px;
}
.thepilatesroom-helper .select2-container--default .select2-selection--single .select2-selection__rendered {
color: rgba(20,20,21,0.5);
font-size: 16px;
line-height: 20px;
padding: 15px 36px 13px 16px;
}

.thepilatesroom-helper.select2-container--default .select2-results__option[aria-selected=true], .thepilatesroom-helper.select2-container--default .select2-results__option[data-selected=true],
.thepilatesroom-helper .select2-container--default .select2-results__option--highlighted[aria-selected], .thepilatesroom-helper .select2-container--default .select2-results__option--highlighted[data-selected] {
background-color: #ffffff;
color: rgba(20,20,21,0.5);
}
.thepilatesroom-helper .select2-container {
transform: translateY(-2px);
z-index: 100;  
}

.thepilatesroom-helper .select2-results__option {
padding: 15px 36px 13px 16px; 
font-size: 16px;
line-height: 20px;
color: rgba(20,20,21,0.5) !important;
background: #fff !important;
}
.thepilatesroom-helper .select2-container--default .select2-results>.select2-results__options {
max-height: 240px;
}
.thepilatesroom-helper .select2-container--default .select2-selection--single .select2-selection__arrow {
width: 12px;
height: 8px;
top: 25px;
right: 24px;
}
.thepilatesroom-helper .select2-container--default .select2-selection--single .select2-selection__arrow b  {
border-color: #7a7f8f transparent transparent transparent;  
border-width: 8px 6px 0 6px;
}

.thepilatesroom-helper .select2-container--default .select2-results__option--highlighted[aria-selected] {
  background: inherit;
}
.thepilatesroom-helper ul.select2-results__options li:hover {
background-color: #000000 !important;
color: #ffffff !important;
}
/* Main Events */
.events-loop h3 {
  margin-bottom: 0;
}
.event-time {
  font-size: 13px;
  line-height: 26px;
  color: rgba(0,0,0,0.5);
}

/* Knowledge Base */
.knowledge-loop h3 {
  margin-bottom: 0;
} 

/* Main Testimonials */
.row-bg {
background: #FAFAFB;
}
.main-testimonials .theme-row {
padding-bottom: 66px;
}
.single-testimonial {
max-width: 655px;
padding-bottom: 56px;
margin-bottom: 56px;
border-bottom: 1px solid rgba(0,0,0,0.1);
}
.testimonials-pagination {
display: grid;
grid-template-columns: 49px;
grid-template-columns: repeat(auto-fill, minmax(49px, 49px));
grid-column-gap: 0;
}
.testimonials-pagination a, .testimonials-pagination span {
width: 49px;
height: 49px;
line-height: 49px;
border: 1px solid #E5E5E5;
border-right: 0;
margin:0;
padding: 0;
}

.testimonials-pagination *:first-child {
border-right: 1px solid #E5E5E5;
border-radius: 4px 0 0 4px;
}
.testimonials-pagination *:last-child {
border-right: 1px solid #E5E5E5;
border-radius: 0 4px 4px 0;
}
.testimonials-pagination .current {
background: #000;
color: #fff;
}
/**
 * Sessions
 */
.sessions-row.theme-row {
max-width: 582px;
padding-top: 194px;
}
.sessions-arrows {
margin-top: 7px;
margin-bottom: 23px;
}
.sessions-left img {
-webkit-transform: rotateY(180deg);
transform: rotateY(180deg);
}
.sessions-arrow {
  float: left;
}
.sessions-arrow.sessions-right {
  float: right;
}
.sessions-arrow img {
opacity: 0.2;
}

.sessions-arrow a img {
opacity: 1;
} 

.single-sessions-main-date {
color: #000000;
font-family: var(--titleFonts);
font-size: 48px;
font-weight: bold;
letter-spacing: 0;
line-height: 60px;  
}
.single-sessions-note-date {
color: rgba(0,0,0,0.5);
font-size: 16px;
letter-spacing: 0;
line-height: 30px;
}
/**
 * 1.0 - WordPress Defaults
 */

 .wp-caption-text {
  margin-top: 16px;
  }
 .wp-caption { max-width: 100% !important; padding: 15px; text-align: center;}
 .wp-caption.align-left { padding: 15px 20px 15px 0; }
 .wp-caption.alignright { padding: 15px 0 15px 20px;; }
 .gallery img { margin-left: auto; margin-right: auto;}
 .wp-video{width: 100% !important; height: auto; }
 .disable-css { pointer-events: none; cursor: default; }
 .alignright { float:right;}
 .alignleft { float:left;}
 .aligncenter { display: block; margin-left: auto; margin-right: auto;}
 img.aligncenter { margin: 20px auto; }
 img.alignleft { margin: 15px 20px 15px 0;}
 img.alignright { margin: 15px 0 15px 20px;}
/**
 * 1.0 - Footer
 */

.main-footer { 
  background: #ffffff;
  color: #fff;
}
.main-footer a {
  color: #000000;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.main-footer a:hover {
  opacity: 0.5;
}
.main-footer .theme-row { padding: 0; }
.main-footer h1, .main-footer h2, .main-footer h3, .main-footer h4, .main-footer h5, .main-footer h6 {
  color: #fff;
}
.theme-row.footer-logo {
  max-width: 1336px;
  padding: 68px 12px 26px;
  border-top: 1px solid rgba(0,0,0,0.1);
}
.theme-row.footer-menu-row {
  max-width: 1336px;
  padding: 26px 12px 78px;
}
.footer-top-col1 { 
  width: 30.04%;
  float: left;
}
.footer-top-col2 { 
  width: 33.89%;
  float: left;
}
.footer-top-col3 { 
  width: 26.041%;
  float: left;
}
.footer-top-col4 { 
  width: 10.029%;
  float: left;
}
.menu-footer-4-container{
  padding-top: 48px;
  text-align: right;
}
/* Footer Menu Row */
.main-footer .theme-row.footer-menu-row-middle {
  padding: 48px 0;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

/* Footer qr code */
img.thepilatesroom-qr.alignright{
  width: 72px;
  margin: 0;
}

/* Footer Linkedin */
.footer-top-col4 .footer-nav { position: relative; }
.footer-linkedin {
  width: 21px;
  height: 24px;
  display: block;
  position: absolute;
  top: 45px;
  left: 0;  
}
.footer-we-chat { 
  width: 24px;
  display: none;
  position: absolute;
  right: 0;
  top: 45px;
}
/* Footer Menu */
.footer-nav ul li {
margin: 0;
padding: 0;
list-style: none;
}

.footer-nav ul li a {
color: #fff;
-webkit-transition: all 0.3s;
transition: all 0.3s;
}
.footer-nav ul li a:hover {
  opacity: 0.5;
}
/* Footer Copyright */
.footer-copy-container {
  padding: 48px 0;
}
.footer-copy-left {
  width: 70%;
  float: left;
}
.footer-copy-left > p { margin-bottom: 18px;}
.tpp-link { margin-left: 16px; }

.footer-copy-right {
  width: 30%;
  float: left;
  text-align: right;
}
.footer-copy-right p img {
  vertical-align: top;
}
.footer-copy-right p img:first-child {
  margin-right: 30px;
}
.footer-extra-desc {
font-size: 12px;
line-height: 20px;
max-width: 508px;
}
.footer-extra-desc p { margin-bottom: 12px; }
.footer-extra-desc em {
font-style: normal;
margin: 0 3px;
opacity: 0.3;
}
footer .wp-caption-text {
	opacity: 0.5;
	color: #FFFFFF;
	font-size: 8px;
	line-height: 12px;
	text-align: right;
}
footer .wp-caption.alignright,
footer .wp-caption.alignleft {
padding:0;
}

/*** Seperator ***/
.wp-block-separator:not(.is-style-dots), hr:not(.is-style-dots) {
  background-color: #d9dff2;
  border: 0;
  height: 1px;
}
.wp-block-separator:not(.is-style-wide):not(.is-style-dots), hr:not(.is-style-wide):not(.is-style-dots) {
  width: 100%;
  height: 4px;
  background: transparent;
}
.wp-block-separator:not(.is-style-wide):not(.is-style-dots)::before, hr:not(.is-style-wide):not(.is-style-dots)::before {
  content: '';
  display: block;
  height: 4px;
  width: 40px;
  background: #d9dff2;
}
.wp-block-separator.is-style-dots:before, hr.is-style-dots:before {
  color: #d9dff2;
  font-size: 18px;
  letter-spacing: 12px;
  padding-left: 12px;
}

/*
 * Responsive Queries
 */
@media (max-width: 1336px) {
  /* General */
  .header-row, .theme-row, .theme-row-zero, .main-blog-caption, .page-template-page-meet-our-team .single-blog-row, .single-team-row, .single-blog-content, .caption-title {
    padding-left: 24px;
    padding-right: 24px;  
  }
  /* Mobile Header */
  .main-navigation, .header-button-col, .contact-us-button-header { display: none; }
  .mobile-menu-icon { width: 24px; display: block; }
  .main-header, .header-row { height: 80px; }
  .header-row { justify-content: space-between; }
  .site-branding { width: 149px; height: 40px; }
  .site-branding .logo-alt-text { font-size: 10px; font-weight: 500; letter-spacing: 0.15px; line-height: 12px; display: block; }
  /* Meet The Team Block - Gutenberg - */
  .meet-the-team-gutenberg {
    margin: 56px 0;
  }

  /* Sliders */
  .hero-slider-container .slick-slide > img {
    width: 100%;
    height: 461px;
    object-fit: cover;
  }  
  .hero-slider-container .slide-content p {
    font-size: 20px;
    line-height: 30px;
  }
  .slide-main-title {
    font-size: 56px;
    line-height: 1;
  }
  .hero-slider-container .slick-slide.slick-current.slick-active .slide-content {
    top: 0;
  }  
  .hero-slider-container .slick-dots { padding-left: 24px; }
  .home-hero-slider-timer { left: 52px; }

  /* About */
  .home-about { background: #fff; text-align: center;}
  .home-about-container.theme-row { padding: 0; }
  .home-about-title, .home-about-content {
    width: 100%;
    padding: 62px 24px;
    margin: 0 auto;
    float: none;
  }
  .home-about-content {
    max-width: 462px;
    margin: 0 auto !important;
    text-align: left;
    padding: 62px 0;
  }
  .home-about-title { background: #052a94; }
  img.section-icon {
    position: absolute;
    top: -31px;
    left: 0; 
  }  
  /* Meet The Team Single */
  .single-team-right { width: 66.66666%; }
  .single-team-right, .single-team-left { margin: 0; }
  .single-team-right .thepilatesroom-breadcrumbs { margin-left: 24px; }
  .single-team-content-row {
    width: 100%;
    margin: 0; 
  }
  .single-team-right .thepilatesroom-breadcrumbs { margin-bottom: 12px; }
  /* Client - Global Exposure */
  .global-clients { background: #fff; text-align: center;}
  .theme-row.global-clients-row { width: 100%; padding: 0 0 36px; }
  .clients-left { background: #052a94; padding: 66px 24px; width: 100%; }
  .client-column { width: 100%; padding: 56px 24px; }   
  .clients-left p { margin: 0 auto 24px;}
  .client-slider { -webkit-transform: translateX(0); transform: translateX(0);}

  /* Contact Page */
  .contact-google-maps {
  position: relative;
  top: unset;
  width: 100vw;
  margin-left: -24px;
  margin-right: -24px;
  }
  .contact-col-1, .contact-col-2, .contact-col-3 {
  float: left;
  width: calc( (100% - 48px) / 3);
  margin-right: 24px;
  margin: 0 24px 48px 0;
  }
  .contact-col-3 {
  margin-right: 0;
  margin-bottom: 48px;
  }
  .page-template-page-contact .single-blog-content {
  padding-bottom: 0;
  }
  .page-template-page-contact .thepilatesroom-breadcrumbs {
  padding-left: 24px;
  }  
  /* Home Services */
  .home-services-item:nth-child(3n+1),
  .home-services-item:nth-child(3n+2),
  .home-services-item:nth-child(3n+3) {
    width: calc( (100% - 24px) / 2 );
    margin-right: 0;
  }
  .home-services-item:nth-child(2n+1) {
    margin-right: 24px;
  }

  /* Footer */
  .footer-linkedin {
    left: auto;
    right: 40px;  
  }
  .footer-we-chat {
    display: block;
  }
  .footer-nav .thepilatesroom-qr { display: none; }
  .footer-menu-row-middle { display: none; }
  .footer-top-background {
  padding: 56px 24px 53px;
  }
  .footer-top-col3 {
  width: 25.041%;
  }
  .footer-top-col4 {
  width: 11.029%;
  }
  .footer-copy-container {
      padding: 56px 24px;
  }  

  .wpml-custom-sw { margin-left: 15px; padding-left: 10px; border-color: #fff; }

}

@media (max-width: 766px) {
  /* General */
  h1 { font-size: 36px; line-height: 48px; }
  h2 { font-size: 28px; line-height: 40px; }
  h3 { font-size: 24px; line-height: 36px; }
  h1.section-title { font-size: 40px; line-height: 56px; }
  /* Footer */
  .main-footer .theme-row {
    padding: 0 24px;
  }
  .footer-menu-row > div, .footer-copy-left, .footer-copy-right {
    width: 100%;
  }
  .footer-copy-right { text-align: center; }
  .footer-copy-right .alignright { float: none; }
  .footer-top-col4 h4{ text-align: left!important; }
  .thepilatesroom-qr { float: left; }  
  .footer-menu-row-middle { display: none; }
  .tpp-link { margin-left: 0; display: block; }
  /* Slider */
  .hero-slider-container .slick-slide > img {
    width: 100%;
    height: calc( 100% - 80px);
    height: calc((var(--vh, 1vh) * 100) - 80px);
    object-fit: cover;
  }

  .slide-content {
  max-width: 300px;
  margin-left: 0;
  }
  .slide-content br { display: none; }
  .hero-slider-container .slick-dots { bottom: 143px; }
  .home-hero-slider-timer { bottom: 150px; }
  /* About */
  .home-about { background: #fff; }
  .home-about-container.theme-row { padding: 0; }
  .home-about-title, .home-about-content {
    width: 100%;
    padding: 62px 24px;
    margin: 0;
  }
  .home-about-title { background: #052a94; }
  img.section-icon {
    position: absolute;
    top: -31px;
    left: 24px; 
  }  

  /* Services */
  .home-services-item:nth-child(3n+1), 
  .home-services-item:nth-child(3n+2), 
  .home-services-item:nth-child(3n+3) { width: 100%; margin-bottom: 48px; }

  /* Client - Global Exposure */
  .global-clients { background: #fff; text-align: left; }
  .clients-left { background: #052a94; padding: 66px 24px; width: 100%; }
  .client-column { width: 100%; padding: 56px 24px; } 
  .client-single {
    padding: 0;
    display: block;
   margin-right: 0;
    text-align: center;
    width: 100%;
    max-width: 100%;
    flex: unset;
  } 
  .client-slider {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;
    justify-items: center;
    align-items: center;
    text-align: center;
      scrollbar-width: thin;          /* "auto" or "thin"  */
      scrollbar-color: rgb(230,0,189) #e2e4e9;   /* scroll thumb & track */   
      -webkit-overflow-scrolling: auto;    
  }

  .client-slider::-webkit-scrollbar {
  height: 2px;
  background-color: #e2e4e9;
  }
  .client-slider::-webkit-scrollbar-track {
  height: 2px;
  background-color: #e2e4e9;
  }
  .client-slider::-webkit-scrollbar-thumb {
  width: 25px;
  height: 2px;
  background: rgb(230,0,189);
  }
  
  /* Partners */
  .theme-row.global-partners-row { text-align: left; }
  .partner-single {
    display: inline-block;
    padding: 0;
    margin-right: 32px;
  }
  .partner-single img { max-height: 32px; }
  .partner-slider {
    overflow: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;
    justify-items: center;
    align-items: center;
    text-align: center;
      scrollbar-width: thin;          /* "auto" or "thin"  */
      scrollbar-color: rgb(230,0,189) #e2e4e9;   /* scroll thumb & track */   
      -webkit-overflow-scrolling: auto;    
    }

    .partner-single {
    width: unset !important;
    margin: unset !important;
    flex: unset !important;
    }
  .partner-slider::-webkit-scrollbar {
  height: 2px;
  background-color: #e2e4e9;
  }
  .partner-slider::-webkit-scrollbar-track {
  background-color: #e2e4e9;
  }
  .partner-slider::-webkit-scrollbar-thumb {
  width: 25px;
  height: 2px;
  background: rgb(230,0,189);
  } 
  .partners-left, .partner-column { padding: 0 24px; } 

  /* Single Posts and Pages */
  .single-blog-content {
    padding-left: 24px; padding-right: 24px;
  }
  /* Meet The Team Gutenberg and CPT */
  .meet-the-team-gutenberg .grid-team-member {
    width: 100%;
    margin: 0 auto 24px !important;
  }
  .single-meet_our_teams .thepilatesroom-breadcrumbs { display: none; }
  .single-team-left img { position: static; }
  .single-team-left, .single-team-right, .single-team-content-row { width: 100%; float: none; margin: 0; }
  .grid-team-member { width: 100%; margin-bottom: 48px; }

  /* Blog Pages */
  .grid-sizer, .front-blog-item {
    width: 100%;
  }
  .single-post .single-blog { padding-top: 50px; }
  /* Footer Socials */
  .footer-linkedin { left: 0; }
  .footer-we-chat { left: 40px; }
  /* Icon Box */
  .hero-icon-box {
    margin-top: 0;
    bottom: 0;
    top: auto;
    left: 0%;
    margin-left: 0;
    padding: 0;
    width: 100%;
    height: 44px;
    text-align: center;
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: 23px 23px 23px;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding-top: 13px;

  }
  .hero-mail-to, .hero-link-edin, .open-wechat {
    width: 23px;
    height: 44px;
    padding: 0;
    float: none;
    border: 0;   
  }
  .hero-link-edin img { margin-top: 6px; }
  /* Contact Page */
  .contact-col-1, .contact-col-2, .contact-col-3 {
    width: 100%;
    margin: 0;
  }
  .contact-col-3 { padding-bottom: 42px;}
  .footer-copy-right p img, .footer-copy-right p img:first-child {
    display: block;
    margin: 0 auto 10px;
  }
  .hero-slider-container { pointer-events: none;}
}

@media (max-width: 330px) {
.slide-main-title { font-size: 36px; line-height: 1.1 }
}


.slick-slider.slick-horizontal { -ms-touch-action: pan-y; touch-action: pan-y; }
.slick-slider.slick-vertical { -ms-touch-action: pan-x; touch-action: pan-x; }